:host {
  display: block;
  overflow-x: hidden;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
app-cat-navbar {
  display: block !important;
  position: relative !important;
  z-index: 1000 !important;
  margin-top: 4.7%;
}
